@media (max-width: 650px) {
    .card {
        flex-direction: column;
        width: 90%;
        height: fit-content;
        margin: 32px 0;

        .media {
            img {
                width: 100%;
                height: inherit;
                border-radius: unset;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
            }
        }

        .content {
            height: fit-content;
            width: 100%;
        }
    }
}